.panel {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 100px;
  width: 100%;
  background-color: #000;
  opacity: 0.3;
  z-index: 100;
  transition: all 0.4s;
  font-size: 10pt;
}

.panel:hover {
  opacity: 0.8;
  height: 250px;
  font-size: 12pt;
}

.panelEntitiesTitle {
  margin-top: 5px;
  border-bottom: 1px #fff dashed;
}

.panelEntities {
  display: none;
  margin-top: 10px;
}

.panelEntities #entitiesIDs {
  width: 50%;
}

.panel:hover .panelEntities {
  display: block;
}

.map-container {
  z-index: 1;
}

.leaflet-control-attribution {
  display: none;
}
